#EngPurple1{
    color: #D0B4E7;
}
#EngPurple1A{
    color: #FFFFFF;
}
#EngPurple1B{
    color: #57058B;
}
#EngPurple1C{
    /* >14PT */
    color: #8100B4;
}
#EngPurple2{
    background-color: #BE33DA;
}
#EngPurple2A{
    color: #000000;
}
#EngPurple2B{
    /* >14PT */
    color: #FFFFFF;
}
#EngPurple2C{
    /* >14PT */
    background-color: #DFDFDF;
}
#EngPurple3{
    /* print primary color */
    background-color: #8100B4;
}
#EngPurple3A{
    color: #FFFFFF
}
#EngPurple3B{
    /* >14PT */
    color: #D0B4E7;
}
#EngPurple3C{
    color: #DFDFDF;
}
/* engPurple4 */
#panel-heading{
    /* digital primary color */
   background-color: #57058B;
}
#panel-title{
    color: #FFFFFF;
}
#panel-body{
    background-color: #D0B4E7;
}
#EngPurple4C{
    color: #DFDFDF;
}
/* #000000 for all the yellow ids */
#UniYellow1{
    color: #FFFFAA;
}
#UniYellow2{
    color: #FFEA3D;
}
#UniYellow3{
    color: #FFD54F;
}
#UniYellow4{
    color: #E4B429;
}