body {
    font-family: 'gotham_condensedmedium';
}

.message {
    height: 150px;
    top: 0;
    background-color: white;
    width: calc(100% - 245px);
    right: 0;
    position: absolute;
    padding: 0px 10px;
    text-align: center;
}

.button {
    background: #D0B4E7;
    border: 2px solid #57058B;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #57058B;
    position: absolute;
    margin-left: -150px;
    margin-right: 0;
    text-align: center;
    transition: all 0.3s ease-out;
    text-decoration: none;
}

.button:hover {
    background: #57058B;
    color: #D0B4E7;
}

.back {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 245px;
    height: 150px;
    padding-top: 10px;
    padding-left: 5px;
}

#backButton {
    position: relative;
    margin: auto;
    top: 30%;
    width: 125px;
    height: 40px;
}