body {
  background-image: url('/static/img/background.png');
  background-attachment: fixed ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.homepage {
  width: 850px;
  height: 250px;
  position: absolute;
  left: 18%;
  top:300px;

}
ul {
  position: relative;
  width: 60%;
  margin: auto;
}
li {
  list-style-type: none;
  text-align: center;
}
.title {
  font-size: 48px;
  text-align: center;
  font-weight: bolder;
}
.blurb {
  width: 800px;
  height: 100px;
  position: relative;
  left: 3%;
  top: 10%;
}
.blurb > p {
  margin: 0;
  text-align: center;
  font-size: medium;
  font-weight: bold;
}
.links {
  margin: auto;
}
.button {
  display: block;
  padding:7px 120px; 
  background:#D0B4E7; 
  border:2px solid #57058B;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  color: #57058B;
  position: absolute;
  margin-left: -150px;
  margin-right: 0;
  text-align: center;
  transition: all 0.3s ease-out;
  text-decoration: none;
}

.button:hover {
  background:#57058B; 
  color: #D0B4E7;
}


/* .homepage > a {
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: -20px;
  text-decoration: none;
}

a:link {
  color: #57058B;
}
a:visited {
  color: #733787;
}
a:hover {
  color: #57058B;
}
a:active {
  color: #733787;
} */
