/* .homepage img {
    max-width: 100%;
    max-height: 100%;
} */
.homepagePicture{
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.homepage {
  width: 850px;
  height: 250px;
  position: absolute;
  left: 18%;
  top:300px;

}
.title {
  font-size: 48px;
  text-align: center;
  font-weight: bolder;
}
.blurb {
  width: 800px;
  height: 100px;
  position: relative;
  left: 3%;
  top: 10%;
}
.blurb > p {
  margin: 0;
  text-align: center;
  font-size: medium;
  font-weight: bold;
}
/* button {
  padding:7px 120px; 
  background:#D0B4E7; 
  border:0 solid #57058B;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  color: white;
  position: absolute;
  margin-left: -150px;
  margin-right: 0;
  text-align: center;
  transition: all 0.3s ease-out;
} */
.links {
  margin: auto;
}
.button {
  padding:7px 120px; 
  background:#D0B4E7; 
  border:2px solid #57058B;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  color: #57058B;
  position: absolute;
  margin-left: -150px;
  margin-right: 0;
  text-align: center;
  transition: all 0.3s ease-out;
  display: block;
  text-decoration: none;
}

/* button:hover {
  background:#57058B; 
} */
.button:hover {
  background:#57058B; 
  color: #D0B4E7;
}
.quizButton {
  left: 20%;
}

.learnButton {
  right: 20%;
}

/* .homepage > a {
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: -20px;
  text-decoration: none;
}

a:link {
  color: #57058B;
}
a:visited {
  color: #733787;
}
a:hover {
  color: #57058B;
}
a:active {
  color: #733787;
} */

.infoPopup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.infoPopup:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  color: #333;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: gray;
}
.popup .close:hover {
  color:black;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}