/* .homepage img {
    max-width: 100%;
    max-height: 100%;
} */
.homepage {
    background: darkgrey;
    width: 850px;
    height: 250px;
    position: absolute;
    left: 18%;
    top:55%;

}
.blurb {
    background: white;
    width: 800px;
    height: 100px;
    position: relative;
    left: 3%;
    top: 10%;
}
p.blurb {

}
button {
    background: #733787;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 15px 32px;
    border: none;
    position: absolute;
    bottom: 10%;
    border-radius: 12px;
}
.quizButton {
    left: 20%;
}

.learnButton {
    right: 20%;
}

/* The Modal (background) */
.infoModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
.modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
    