body {
    font-family: 'gotham_condensedmedium';
}
.container {
    width: 100%;
}
.warning{
    display:none;
    }
#panel-heading{
    background-color: #D0B4E7;
}
#panel-body {
    background-color: #FAFAFA;
}
.panel-heading > h4 {
    color: #57058B;
}
input[type='radio']:after, input[type='checkbox']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='checkbox'], input[type='checkbox']:after,input[type='checkbox']:checked:after {
    /* margin-left: -20px;
    margin-right: 7px; */
    border-radius: 0 !important;
}

input[type='radio']:checked:after, input[type='checkbox']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #57058B;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.button {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

#submitButton {
    padding:7px 120px; 
    background:#57058B; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    color: #D0B4E7;
    position: relative;
    margin: auto;
}

#submitButton:disabled{
    background:gray; 
    cursor:not-allowed;
    color: white;
}
    