<!DOCTYPE html>
<head>

</head>
<body>
    <h1>Engineering Programs Editing Page</h1>
    <br><br><br>
    <div class="ProgramDescription">
        <h3>Program Description</h3>
        <select>
            <option value="">Select Program</option>
            <option value="Management">Management Engineering</option>
            <option value="SystemDesign">System Design Engineering</option>
            <option value="Chemical">Chemical Engineering</option>
        </select><br>
        <textarea id="ProgramDescription" rows="10" cols="80">Enter program description here</textarea><br>
        <input type="submit" value="Submit">
    </div><br><br>

    <div class="ProgramComparisons">
        <h3>Program Comparisons</h3>
        <select>
            <option value="">Select Programs</option>
            <option value="ManagementVSChemical">Management Engineering vs. Chemical Engineering</option>
            <option value="SystemDesignVSChemical">System Design Engineering vs. Chemical Engineering</option>
            <option value="ChemicalVSManagement">Chemical Engineering vs. Management Engineering</option>
        </select><br>
        <textarea id="ProgramComparison" rows="10" cols="80">Enter comparison here</textarea><br>
        <input type="submit" value="Submit">
    </div>
</body>