<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Engineering Quiz || Test</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

<body class="page_body">

  <!-- Submitting a form-->

  <div align = "center" style="border: solid 1px #000000;">
    <caption style="font-size:20px;">Should you play golf today?</caption>
    <form id="submit" action ="{% url 'submit' %}" method ='post' border = 1>
      {% csrf_token %}

            <label class="">What is your name? (optional)</label>
            <input type="text" name="name"><br>
            <label class="">What is your email address (optional) </label>
            <input type="text" name="email"><br>

            <label class="">What does the sky look like right now? </label>
            <select id="OUTLOOK" name="OUTLOOK" placeholder="OUTLOOK" required>
                    <option value="Rainy">Rainy</option>
                    <option value="Overcast">Overcast</option>
                    <option value="Sunny">Sunny</option>
            </select>
            <br />
            <label class="">How does the temperature feel? </label>
            <select id="TEMPERATURE" name="TEMPERATURE" placeholder="TEMPERATURE" required>
                    <option value="Cool">Cool</option>
                    <option value="Mild">Mild</option>
                    <option value="Hot">Hot</option>
            </select>
            <br />
            <label class="">How is the humidity? </label>
            <select id="HUMIDITY" name="HUMIDITY" placeholder="HUMIDITY" required>
                    <option value="High">High</option>
                    <option value="Normal">Normal</option>
            </select>
            <br />
            <label class="">Is it windy? </label>
            <select id="WINDY" name="WINDY" placeholder="WINDY" required>
                    <option value="TRUE">Yes</option>
                    <option value="FALSE">No</option>
            </select>
            <br />
            <input type= "submit" value = "submit"/>

    </form>
  </div>
</body>
</html>
