<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>Engineering Quiz || Test</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="schoolStyleGuide.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>



<body class="page_body">
  <div class="container">
    <h2>Engineering Placement Quiz</h2>
    <p><strong>Note:</strong> We’ve surveyed Waterloo Engineering students to find out what makes them tick. Take our quiz to see what students who share your interests are studying, and where you might fit.</p>


    <!-- Submitting a form-->
    <div class="panel-group" id="accordion">

      <div style="border: solid 1px #000000;">
        <form id="submit" action="{% url 'submit' %}" method='post' border=1>
          {% csrf_token %}

          <!--  Question 1 -->
          <div class="panel panel-default">
            <div class="panel-heading" id="panel-heading">
              <h4 class="panel-title" id ="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">What kind of problems do you enjoy solving?</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body" id="panel-body">
                <div class="radio">
                  <label><input type="radio" name="problem_type" value="defined">Problems that are well defined</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="problem_type" value="investigate">Problems that require some investigation</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="problem_type" value="discover">Problems with very limited information</label>
                </div>
              </div>
            </div>
          </div>
  <!--  Question 2 -->
  <div class="panel panel-default">
    <div class="panel-heading" id="panel-heading">
      <h4 class="panel-title" id ="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Would you consider yourself as being creative?</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body" id="panel-body">
        <div class="radio">
          <label><input type="radio" name="creative" value="creative">I am very creative</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="creative" value="somewhat_creative">I am somewhat creative</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="creative" value="not_creative">I am not creative</label>
        </div>
      </div>
    </div>
  </div>

  <!--  Question 3 -->
  <div class="panel panel-default">
    <div class="panel-heading" id="panel-heading">
      <h4 class="panel-title" id ="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">What industry can you see yourself working in, in the future? Select all that apply.</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body" id="panel-body">


        <div class="radio">
          <label><input type="checkbox" name="industry" value="architecture">Architecture (i.e. Designing a building taller than the CN Tower)</label>
        </div>

        <div class="radio">
          <label><input type="checkbox" name="industry" value="automotive">Automotive (i.e. Designing a new autonomous car)</label>
        </div>

        <div class="radio">
          <label><input type="checkbox" name="industry" value="business">Business (i.e. Starting your own consulting company)</label>
        </div>

        <div class="radio">
          <label><input type="checkbox" name="industry" value="construction">Construction (i.e. Building a smart city)</label>
        </div>

        <div class="radio">
          <label><input type="checkbox" name="industry" value="health">Health (i.e. Creating technology for minimally invasive surgeries)</label>
        </div>

        <div class="radio">
          <label><input type="checkbox" name="industry" value="environment">Environment (i.e. Producing energy in sustainable ways)</label>
        </div>

        <div class="radio">
          <label><input type="checkbox" name="industry" value="manufacturing">Manufacturing (i.e. Optimization or automation of manufacturing processes)</label>
        </div>

        <div class="radio">
          <label><input type="checkbox" name="industry" value="technology">Technology (i.e. Working with cloud based software)</label>
        </div>

      </div>
    </div>
  </div>

  <!--  Question 4 -->
  <div class="panel panel-default">
    <div class="panel-heading" id="panel-heading">
      <h4 class="panel-title" id ="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">How comfortable are you working in the outdoors?</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse ">
      <div class="panel-body" id="panel-body">
        <div class="radio">
          <label><input type="radio" name="outdoors" value="outdoors">I love the outdoors and wish I could work outside every day.</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="outdoors" value="limited">Working outside would be okay, but only for short periods of time.</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="outdoors" value="indoors">I would rather work inside.</label>
        </div>
      </div>
    </div>
  </div>

  <!--  Question 5 -->
  <div class="panel panel-default">
    <div class="panel-heading" id="panel-heading">
      <h4 class="panel-title" id ="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">What can you see yourself doing in the future?</a>
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse ">
      <div class="panel-body" id="panel-body">
        <div class="radio">
          <label><input type="radio" name="career" value="moving_parts">Building things with moving parts</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="career" value="buildings">Designing buildings</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="career" value="sensors">Designing or building sensor based technology</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="career" value="resources">Improving the way we use the world's resources</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="career" value="molecules">Making discoveries at the molecular level</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="career" value="programming">Programming apps</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="career" value="optimizing">Optimizing processes</label>
        </div>
      </div>
    </div>
  </div>
  <!--  Question 6 -->
  <div class="panel panel-default">
    <div class="panel-heading" id="panel-heading">
      <h4 class="panel-title" id ="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">How do you feel about group work?</a>
      </h4>
    </div>
    <div id="collapse6" class="panel-collapse collapse ">
      <div class="panel-body" id="panel-body">
        <div class="radio">
          <label><input type="radio" name="group_work" value="yes">I enjoy working with others</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="group_work" value="occasionally">I occasionally like working with others</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="group_work" value="no">I do not like working as part of a team. I would rather work alone</label>
        </div>
      </div>
    </div>
  </div>
  <!--  Question 7 -->
  <div class="panel panel-default">
    <div class="panel-heading" id="panel-heading">
      <h4 class="panel-title" id ="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">What high school class did you enjoy the most?</a>
      </h4>
    </div>
    <div id="collapse7" class="panel-collapse collapse ">
      <div class="panel-body" id="panel-body">
        <div class="radio">
          <label><input type="radio" name="liked_courses" value="autoshop">Autoshop</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="liked_courses" value="biology">Biology</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="liked_courses" value="business">Business</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="liked_courses" value="chemistry">Chemistry</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="liked_courses" value="computer_science">Computer Science</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="liked_courses" value="geography">Geography</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="liked_courses" value="history">History</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="liked_courses" value="language_arts">Language Arts</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="liked_courses" value="math">Math</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="liked_courses" value="physics">Physics</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="liked_courses" value="visual_arts">Visual Arts</label>
        </div>
      </div>
    </div>
  </div>
  <!--  Question 8 -->
  <div class="panel panel-default">
    <div class="panel-heading" id="panel-heading">
      <h4 class="panel-title" id ="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">What high school class did you enjoy the least?</a>
      </h4>
    </div>
    <div id="collapse8" class="panel-collapse collapse ">
      <div class="panel-body" id="panel-body">
        <div class="radio">
          <label><input type="radio" name="disliked_courses" value="autoshop">Autoshop</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="disliked_courses" value="biology">Biology</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="disliked_courses" value="business">Business</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="disliked_courses" value="chemistry">Chemistry</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="disliked_courses" value="computer_science">Computer Science</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="disliked_courses" value="geography">Geography</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="disliked_courses" value="history">History</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="disliked_courses" value="language_arts">Language Arts</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="disliked_courses" value="math">Math</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="disliked_courses" value="physics">Physics</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="disliked_courses" value="visual_arts">Visual Arts</label>
        </div>
      </div>
    </div>
  </div>
  <!--  Question 9 -->
  <div class="panel panel-default">
    <div class="panel-heading" id="panel-heading">
      <h4 class="panel-title" id ="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">How do you feel about computer programming?</a>
      </h4>
    </div>
    <div id="collapse9" class="panel-collapse collapse ">
      <div class="panel-body" id="panel-body">
        <div class="radio">
          <label><input type="radio" name="programming" value="complete">I code, I enjoy it and I'm good at it.</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="programming" value="partial">I can code but it's not my favourite thing to do.</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="programming" value="interested">I don't code but I am interested in trying it.</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="programming" value="no">I don’t code and I have no desire to learn.</label>
        </div>
      </div>
    </div>
  </div>
  <!--  Question 10 -->
  <div class="panel panel-default">
    <div class="panel-heading" id="panel-heading">
      <h4 class="panel-title" id ="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">What type of club would you consider joining?</a>
      </h4>
    </div>
    <div id="collapse10" class="panel-collapse collapse ">
      <div class="panel-body" id="panel-body">
        <div class="radio">
          <label><input type="radio" name="join_clubs" value="art/design">Art or design club (i.e. Fashion for Change</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="join_clubs" value="autoshop">Autoshop club (i.e. Autonomoose Autonomous Car Club)</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="join_clubs" value="business">Business club (i.e. UW Finance Association)</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="join_clubs" value="consulting">Consulting club (i.e. DECA)</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="join_clubs" value="environment">Environment club (i.e. UW Energy Network)</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="join_clubs" value="robotics">Robotics club (i.e. UW Robotics Team)</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="join_clubs" value="hacker_club">Hacker club (i.e. UW Hacks)</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="join_clubs" value="student_council">Student council (i.e. Engineering Society)</label>
        </div>
      </div>
    </div>
  </div>
  <!--  Question 11 -->
  <div class="panel panel-default">
    <div class="panel-heading" id="panel-heading">
      <h4 class="panel-title" id ="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">What type of club would you NOT want to join?</a>
      </h4>
    </div>
    <div id="collapse11" class="panel-collapse collapse ">
      <div class="panel-body" id="panel-body">
        <div class="radio">
          <label><input type="radio" name="not_clubs" value="art/design">Art or design club (i.e. Fashion for Change)</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="not_clubs" value="autoshop">Autoshop club (i.e. Autonomoose Autonomous Car Club)</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="not_clubs" value="business">Business club (i.e. UW Finance Association)</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="not_clubs" value="consulting">Consulting club (i.e. DECA)</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="not_clubs" value="environment">Environment club (i.e. UW Energy Network)</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="not_clubs" value="robotics">Robotics club (i.e. UW Robotics Team)</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="not_clubs" value="hacker_club">Hacker club (i.e. UW Hacks)</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="not_clubs" value="student_council">Student council (i.e. Engineering Society)</label>
        </div>
      </div>
    </div>
  </div>
  <!--  Question 12 -->
  <div class="panel panel-default">
    <div class="panel-heading" id="panel-heading">
      <h4 class="panel-title" id ="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">What project would you want to be a part of?</a>
      </h4>
    </div>
    <div id="collapse12" class="panel-collapse collapse ">
      <div class="panel-body" id="panel-body">
        <div class="radio">
          <label><input type="radio" name="liked_projects" value="prototyping_instrument">Prototyping a musical instrument for children with a disability.</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="liked_projects" value="olympic_village">Designing an Olympic village.</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="liked_projects" value="robot">Programming a robot that can make you dinner.</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="liked_projects" value="supercomputer">Building the world’s most powerful supercomputer.</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="liked_projects" value="mars_water_treatment">Designing a water treatment system for Mars.</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="liked_projects" value="battery">Creating a battery from recycled material.</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="liked_projects" value="uber_pool">Optimizing the Uber Pool routes.</label>
        </div>
      </div>
    </div>
  </div>
  <!--  Question 13 -->
  <div class="panel panel-default">
    <div class="panel-heading" id="panel-heading">
      <h4 class="panel-title" id ="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">What project do you find the least interesting?</a>
      </h4>
    </div>
    <div id="collapse13" class="panel-collapse collapse ">
      <div class="panel-body" id="panel-body">
        <div class="radio">
          <label><input type="radio" name="disliked_projects" value="prototyping_instrument">Prototyping a musical instrument for children with a disability.</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="disliked_projects" value="olympic_village">Designing an Olympic village.</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="disliked_projects" value="robot">Programming a robot that can make you dinner.</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="disliked_projects" value="supercomputer"> Building the world’s most powerful supercomputer.</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="disliked_projects" value="mars_water_treatment">Designing a water treatment system for Mars.</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="disliked_projects" value="battery">Creating a battery from recycled material.</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="disliked_projects" value="uber_pool">Optimizing the Uber Pool routes.</label>
        </div>
      </div>
    </div>
  </div>
  <!--  Question 14 -->
  <div class="panel panel-default">
    <div class="panel-heading" id="panel-heading">
      <h4 class="panel-title" id ="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">If you could only watch one TV show for the rest of your life, what would it be?</a>
      </h4>
    </div>
    <div id="collapse14" class="panel-collapse collapse ">
      <div class="panel-body" id="panel-body">
        <div class="radio">
          <label><input type="radio" name="tv_shows" value="big_bang_theory">Big Bang Theory</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="tv_shows" value="breaking_bad">Breaking Bad</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="tv_shows" value="greys_anatomy">Grey’s Anatomy</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="tv_shows" value="house_hunters">House Hunters</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="tv_shows" value="myth_busters">Myth Busters</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="tv_shows" value="planet_earth">Planet Earth</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="tv_shows" value="silicon_valley">Silicon Valley</label>
        </div>
      </div>
    </div>
  </div>
  <!--  Question 15 -->
  <div class="panel panel-default">
    <div class="panel-heading" id="panel-heading">
      <h4 class="panel-title" id ="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse15">If engineering didn’t exist, what would you consider studying?</a>
      </h4>
    </div>
    <div id="collapse15" class="panel-collapse collapse ">
      <div class="panel-body" id="panel-body">
        <div class="radio">
          <label><input type="radio" name="alternate_degree" value="applied_science">Applied Science</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="alternate_degree" value="business">Business</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="alternate_degree" value="cs">Computer Science</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="alternate_degree" value="econ">Economics</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="alternate_degree" value="lit">English Literature</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="alternate_degree" value="env">Environmental Studies</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="alternate_degree" value="fin">Finance</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="alternate_degree" value="geo">Geography</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="alternate_degree" value="design">Graphic Design</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="alternate_degree" value="health">Health Studies</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="alternate_degree" value="marketing">Marketing</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="alternate_degree" value="math">Math</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="alternate_degree" value="poli_sci">Political Science</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="alternate_degree" value="psych">Psychology</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="alternate_degree" value="visual_arts">Visual Arts</label>
        </div>
      </div>
    </div>
  </div>
  <!--  Question 16 -->
  <div class="panel panel-default">
    <div class="panel-heading" id="panel-heading">
      <h4 class="panel-title" id ="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse16">How do you feel about working with expensive equipment?</a>
      </h4>
    </div>
    <div id="collapse16" class="panel-collapse collapse ">
      <div class="panel-body" id="panel-body">
        <div class="radio">
          <label><input type="radio" name="expensive_equipment" value="yes">That sounds cool!</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="expensive_equipment" value="maybe">Could be cool, but I don't really care about fancy equipment or how much it costs.</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="expensive_equipment" value="no">That scares me and I don't want to touch it.</label>
        </div>
      </div>
    </div>
  </div>
  <!--  Question 17 -->
  <div class="panel panel-default">
    <div class="panel-heading" id="panel-heading">
      <h4 class="panel-title" id ="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse17">How would you describe your drawing abilities?</a>
      </h4>
    </div>
    <div id="collapse17" class="panel-collapse collapse ">
      <div class="panel-body" id="panel-body">
        <div class="radio">
          <label><input type="radio" name="drawing" value="good">Really good, I can draw just about anything.</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="drawing" value="partial">I am not the best, but I am not the worst./label>
        </div>
        <div class="radio">
          <label><input type="radio" name="drawing" value="no">I am not very good.</label>
        </div>
      </div>
    </div>
  </div>
  <!--  Question 18 -->
  <div class="panel panel-default">
    <div class="panel-heading" id="panel-heading">
      <h4 class="panel-title" id ="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse18">You have an assignment to write an essay about anything you want. How does that make you feel?</a>
      </h4>
    </div>
    <div id="collapse18" class="panel-collapse collapse ">
      <div class="panel-body" id="panel-body">
        <div class="radio">
          <label><input type="radio" name="essay" value="yes">Excited! I can share my theories with the world.</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="essay" value="partial">A bit apprehensive. I get overwhelmed with so many options.</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="essay" value="no">Annoyed. I would much rather be given a topic with clear instructions.</label>
        </div>
      </div>
    </div>
  </div>
  </div>
    </div>

  <input type="submit" value="submit" class="btn btn-primary btn-lg"/>
  </form>
  </div>


</body>

</html>
