<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <title>UW Program Compatibility Tool | Home</title>
        <link rel="stylesheet" type="text/css" href="{% static '/style/home.css' %}">
        <!-- <script src="quizHomepage.js"></script> -->
    </head>
    <body>
        <div class="homepage">
            <div class="title">Program Compatibility Tool</div>
            <div class="blurb">
                <p>Your starting point for discovery!</p>
                <p>Learn more about the different programs offered at the University of Waterlooand which ones align most with your interests</p>
            </div>
            <!-- <form action="{% url 'startQuiz' %}">
                <button class="quizButton">Start Quiz</button>
            </form> -->
            <div class="links">
                <ul>
                    <a class="button" href="{% url 'startQuiz' %}">Start Quiz</a>
                    <a class="button" href="{% url 'about' %}">About</a>
                    <a class="button" href="{% url 'programInfo' %}" target="_blank">Programs</a>
                </ul>
            </div>
        </div>
        <div class="infoPopup" id="infoPopup">
            <div class="popup">
                    <h2>About</h2>
                    <a class="close" href="#">&times;</a>
                    <div class="popupContent">
                            Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
                    </div>
            </div>
        </div>
    </body>
</html>