<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <title>UW Program Compatibility Tool | Home</title>
        <link rel="stylesheet" type="text/css" href="{% static '/style/home.css' %}">
        <!-- <script src="quizHomepage.js"></script> -->
    </head>
    <body>
        <div class="homepagePicture">
            <img src="{% static '/img/homepage.png' %}" alt="">
        </div>
        
        <div class="homepage">
            <div class="title">Program Compatibility Tool</div>
            <div class="blurb">
                <p>Your starting point for discovery!</p>
                <p>Learn more about the different programs offered at the University of Waterlooand which ones align most with your interests</p>
            </div>
            <form action="{% url 'startQuiz' %}">
                <button class="quizButton">Start Quiz</button>
            </form>
            <a class="button" href="#infoPopup">About</a>
            <a class="button" href="{% url 'programInfo' %}" target="_blank">Programs</a>
        </div>
        <div class="infoPopup" id="infoPopup">
            <div class="popup">
                    <h2>About</h2>
                    <a class="close" href="#">&times;</a>
                    <div class="popupContent">
                        this is where we will have our information
                    </div>
            </div>
        </div>
    </body>
</html>