<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="quizHomepage.css">
        <script src="quizHomepage.js"></script>
    </head>
    <body background="Homepage.png">
        <div class="homepage">
            <div class="blurb">
                <p>THIS IS WHAT WE WILL SAY ABOUT THE QUIZ</p>
            </div>
            <button class="quizButton" onclick="window.location.href ='form.html';">Take Quiz</button>
            <button class="learnButton" >Learn More</button>
        </div>
        <div class="infoModal">
            <div class="modalContent">
                <span class="close">&times;</span>
                <p>Some text in the Modal..</p>
            </div>
            
        </div>
    </body>
</html>