body {
    background-image: url('background.png');
    background-attachment: fixed ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.title {
    font-size: 48px;
    text-align: center;
    font-weight: bolder;
}
.content {
    padding: 0px 10px;
    height: calc(100% - 100px);
    width: calc(100% - 220px);
    position: absolute;
    right: 0;
    bottom: 0;
    padding-top: 20px;
    overflow: scroll;

}
.column {
    float: left;
    width: 50%;
    position: relative;
    padding-left: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    position: relative;
}
a, a:hover, a:after, a:visited {
    color: red;
}

.program{
    display:none;
}

.sideBar {
    width: 220px;
    height: 100%;
}
#backButton {

}
.sidenav { 
    height: calc(100% - 200px);
    width: 220px;
    position: absolute;
    z-index: 1;
    bottom: 100px;
    left: 0;
    padding-top: 20px;
    /* border-right: 5px solid #EEEEEE; */
    overflow: scroll;
}
.sidenav a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: #000000;
    border-right: 5px solid #EEEEEE;
}
.sidenav a:hover {
    background-color: #DFDFDF;
    text-decoration: none;
    color: #000000;
    border-right: 5px solid #EEEEEE;
}
.activelink {
    background-color: #EEEEEE;
    color: #58058B !important;
    /* border-right: 5px solid #58058B !important; */
    /* border: 3px solid #58058B !important; */
    /* box-shadow: -5px 0px 0px 0px #58058B, 5px 0px 0px 0px #58058B; */
}
.title {
    width: 100%;
    height: 100px;
    top: 0;
    background-color: white;
}  
.nav.nav-tabs {
    background: #D0B4E7;
    /* color: #57058B; */
}
.nav.nav-tabs a {
    color: #57058B;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color: #57058B;
    color: #D0B4E7;
}

.tab-content{
    background-color: #FAFAFA;
}

.button {
    display: block;
    padding:7px 10px; 
    background:#D0B4E7; 
    border:2px solid #57058B;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    color: #57058B;
    position: absolute;
    /* margin-left: -150px; */
    /* margin-right: 0; */
    text-align: center;
    transition: all 0.3s ease-out;
    text-decoration: none;
}

.button:hover {
    background:#57058B; 
    color: #D0B4E7;
}

#backButton {
    position: relative; 
    text-align: center;
    /* left: 0; */
}
.fa-eye {
    position: absolute;
    right: 0;
    display: inline;
    visibility: hidden;
    padding-right: 5px;
}
.show {
    visibility: visible !important;
}
.hide {
    visibility: hidden;
}